<div id="calendar-wrap" ng-controller="calendarioCtrl">
    <header class="row">
        <div class="col col-md-6">
            <h3>{{monthNames[currentDate.month-1]}} {{currentDate.year}}</h3>
        </div>
        <div class="col col-md-6 select-month">
            <button ng-click="setCurrent('prev')"><</button> <button ng-click="setCurrent('current')">Hoje</button> <button ng-click="setCurrent('next')">></button>
        </div>
    </header>
    <div id="calendar">
        <ul class="weekdays">
            <li>Domingo</li>
            <li>Segunda</li>
            <li>Terça</li>
            <li>Quarta</li>
            <li>Quinta</li>
            <li>Sexta</li>
            <li>Sábado</li>
        </ul>

        <!-- Primeira Linha -->

        <ul class="days">
            <li class="day" ng-repeat="dia in listDays.startOrEnd(currentDate.month,currentDate.year)" ng-class="{'other-month': dia > 10}">
                <a href="#/movimentacoes-diarias/{{dia+'-'+currentDate.month+'-'+currentDate.year}}" ng-if="dia < 10"></a>
                <div class="date">{{dia}}</div>
                <div class="alert-notificacao" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).notificacao && dia < 10">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="alert-antecipacao" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).antecipacao && dia < 10">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="event" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).recebido && dia < 10">
                    <div class="event-desc">
                        Recebido
                    </div>
                    <div class="event-time">
                        {{getDadosDia(dia+"/"+currentDate.month+"/"+currentDate.year).recebido}}
                    </div>
                </div>
                <div class="event" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).vendas && dia < 10">
                    <div class="event-desc">
                        Vendas
                    </div>
                    <div class="event-time">
                        {{getDadosDia(dia+"/"+currentDate.month+"/"+currentDate.year).vendas}}
                    </div>
                </div>
            </li>
        </ul>

        <ul class="days">
            <li class="day" ng-repeat="dia in listDays.middle(currentDate.month,'2018')">
                <a href="#/movimentacoes-diarias/{{dia+'-'+currentDate.month+'-'+currentDate.year}}"></a>
                <div class="date">{{dia}}</div>
                <div class="alert-notificacao" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).notificacao">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="alert-antecipacao" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).antecipacao">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="event" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).recebido">
                    <div class="event-desc">
                        Recebido
                    </div>
                    <div class="event-time">
                        {{getDadosDia(dia+"/"+currentDate.month+"/"+currentDate.year).recebido}}
                    </div>
                </div>
                <div class="event" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).vendas">
                    <div class="event-desc">
                        Vendas
                    </div>
                    <div class="event-time">
                        {{getDadosDia(dia+"/"+currentDate.month+"/"+currentDate.year).vendas}}
                    </div>
                </div>
            </li>
        </ul>

        <ul class="days">
            <li class="day" ng-repeat="dia in listDays.startOrEnd(currentDate.month+1,currentDate.year)" ng-class="{'other-month': dia < 10}">
                <a href="#/movimentacoes-diarias/{{dia+'-'+currentDate.month+'-'+currentDate.year}}" ng-if="dia > 10"></a>
                <div class="date">{{dia}}</div>
                <div class="alert-notificacao" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).notificacao && dia > 10">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="alert-antecipacao" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).antecipacao && dia > 10">
                    <i class="fas fa-clock"></i>
                </div>
                <div class="event" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).recebido && dia > 10">
                    <div class="event-desc">
                        Recebido
                    </div>
                    <div class="event-time">
                        {{getDadosDia(dia+"/"+currentDate.month+"/"+currentDate.year).recebido}}
                    </div>
                </div>
                <div class="event" ng-if="getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).vendas && dia > 10">
                    <div class="event-desc">
                        Vendas
                    </div>
                    <div class="event-time">
                        {{getDadosDia(dia+"/"+currentDate.month+"/"+currentDate.year).vendas}}
                    </div>
                </div>
            </li>
        </ul>

    </div><!-- /. calendar -->
</div><!-- /. wrap -->