<div id="calendar-wrap" ng-controller="calendarioCtrl">
    <header class="row">
        <div class="col col-md-6">
            <h3>{{monthNames[currentDate.month-1]}} {{currentDate.year}}</h3>
        </div>
        <div class="col col-md-6 select-month">
            <button ng-click="setCurrent('prev')"><</button> <button ng-click="setCurrent('current')">Hoje</button> <button ng-click="setCurrent('next')">></button>
        </div>
    </header>
    <div id="calendar">
        <ul class="weekdays">
            <li>Domingo</li>
            <li>Segunda</li>
            <li>Terça</li>
            <li>Quarta</li>
            <li>Quinta</li>
            <li>Sexta</li>
            <li>Sábado</li>
        </ul>
        
        <ul class="days">
            <li class="day" ng-repeat="date in listDays.start(currentDate.month,currentDate.year)" ng-class="{'other-month': printDate(date,1) !== currentDate.month, weekend:checkDay.weekend(date),today:checkDay.today(date)}">
                <a href="#/movimentacoes-diarias?data={{printDate(date,0)}}-{{printDate(date,1)}}-{{printDate(date,2)}}"></a>
                <div class="date">{{printDate(date,0)}}</div>
                <div class="alert-{{icone.nome}}" ng-repeat="icone in getDadosDia(date).icones" ng-if="icone.nome && printDate(date,0) < 10">
                    <i class="fas fa-{{icone.icone}}"></i>
                </div>
                <div class="event" ng-repeat="evento in getDadosDia(date).eventos" ng-if="evento.titulo && printDate(date,0) < 10">
                    <div class="event-desc">
                        {{evento.titulo}}
                    </div>
                    <div class="event-time">
                       {{evento.descricao}}
                    </div>
                </div>
            </li>
        </ul>
        
        <ul class="days">
            <li class="day" ng-repeat="date in listDays.middle(currentDate.month,currentDate.year)" ng-class="{weekend:checkDay.weekend(date),today:checkDay.today(date)}">
                <a href="#/movimentacoes-diarias?data={{printDate(date,0)}}-{{printDate(date,1)}}-{{printDate(date,2)}}"></a>
                <div class="date">{{printDate(date,0)}}</div>
                <div class="alert-{{icone.nome}}" ng-repeat="icone in getDadosDia(date).icones" ng-if="icone.nome">
                    <i class="fas fa-{{icone.icone}}"></i>
                </div>
                <div class="event" ng-repeat="evento in getDadosDia(date).eventos" ng-if="evento.titulo">
                    <div class="event-desc">
                        {{evento.titulo}}
                    </div>
                    <div class="event-time">
                       {{evento.descricao}}
                    </div>
                </div>
            </li>
        </ul>
        
        <ul class="days">
            <li class="day" ng-repeat="date in listDays.end(currentDate.month,currentDate.year)" ng-class="{'other-month': printDate(date,1) !== currentDate.month, weekend:checkDay.weekend(date),today:checkDay.today(date)}">
                <a href="#/movimentacoes-diarias?data={{printDate(date,0)}}-{{printDate(date,1)}}-{{printDate(date,2)}}"></a>
                <div class="date">{{printDate(date,0)}}</div>
                <div class="alert-{{icone.nome}}" ng-repeat="icone in getDadosDia(date).icones" ng-if="icone.nome && printDate(date,0) > 10">
                    <i class="fas fa-{{icone.icone}}"></i>
                </div>
                <div class="event" ng-repeat="evento in getDadosDia(date).eventos" ng-if="evento.titulo && printDate(date,0) > 10">
                    <div class="event-desc">
                        {{evento.titulo}}
                    </div>
                    <div class="event-time">
                       {{evento.descricao}}
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <footer>
        <div class="push-right text-right">
            <span ng-repeat="icone in dadosCalendario.footer">
                <i class="fas fa-{{icone.icone}}"></i> {{icone.titulo}}
            </span>
        </div>
    </footer>
</div>
