<div id="calendar-wrap" ng-controller="calendarioCtrl">
    <header class="row">
        <div class="col col-md-6">
            <h3>{{monthNames[currentDate.month-1]}} {{currentDate.year}}</h3>
        </div>
        <div class="col col-md-6 select-month">
            <button ng-click="setCurrent('prev')"><</button> <button ng-click="setCurrent('current')">Hoje</button> <button ng-click="setCurrent('next')">></button>
        </div>
    </header>
    <div id="calendar">
        <ul class="weekdays">
            <li>Domingo</li>
            <li>Segunda</li>
            <li>Terça</li>
            <li>Quarta</li>
            <li>Quinta</li>
            <li>Sexta</li>
            <li>Sábado</li>
        </ul>
        
        <ul class="days">
            <li class="day" ng-repeat="dia in listDays.startOrEnd(currentDate.month,currentDate.year)" ng-class="{'other-month': dia > 10}">
                <a href="#/movimentacoes-diarias/{{dia+'-'+currentDate.month+'-'+currentDate.year}}" ng-if="dia < 10"></a>
                <div class="date">{{dia}}</div>
                <div class="alert-{{icone.nome}}" ng-repeat="icone in getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).icones" ng-if="icone.nome && dia < 10">
                    <i class="fas fa-{{icone.icone}}"></i>
                </div>
                <div class="event" ng-repeat="evento in getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).eventos" ng-if="evento.titulo && dia < 10">
                    <div class="event-desc">
                        {{evento.titulo}}
                    </div>
                    <div class="event-time">
                       {{evento.descricao}}
                    </div>
                </div>
            </li>
        </ul>


        
        <ul class="days">
            <li class="day" ng-repeat="dia in listDays.middle(currentDate.month,'2018')">
                <a href="#/movimentacoes-diarias/{{dia+'-'+currentDate.month+'-'+currentDate.year}}"></a>
                <div class="date">{{dia}}</div>
                <div class="alert-{{icone.nome}}" ng-repeat="icone in getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).icones" ng-if="icone.nome">
                    <i class="fas fa-{{icone.icone}}"></i>
                </div>
                <div class="event" ng-repeat="evento in getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).eventos" ng-if="evento.titulo">
                    <div class="event-desc">
                        {{evento.titulo}}
                    </div>
                    <div class="event-time">
                       {{evento.descricao}}
                    </div>
                </div>
            </li>
        </ul>


        <ul class="days">
            <li class="day" ng-repeat="dia in listDays.startOrEnd(currentDate.month+1,currentDate.year)" ng-class="{'other-month': dia < 10}">
                <a href="#/movimentacoes-diarias/{{dia+'-'+currentDate.month+'-'+currentDate.year}}" ng-if="dia > 10"></a>
                <div class="date">{{dia}}</div>
                <div class="alert-{{icone.nome}}" ng-repeat="icone in getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).icones" ng-if="icone.nome && dia > 10">
                    <i class="fas fa-{{icone.icone}}"></i>
                </div>
                <div class="event" ng-repeat="evento in getDadosDia(dia+'/'+currentDate.month+'/'+currentDate.year).eventos" ng-if="evento.titulo && dia > 10">
                    <div class="event-desc">
                        {{evento.titulo}}
                    </div>
                    <div class="event-time">
                       {{evento.descricao}}
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <footer>
        <div class="push-right text-right">
            <span ng-repeat="icone in dadosCalendario.footer">
                <i class="fas fa-{{icone.icone}}"></i> {{icone.titulo}}
            </span>
        </div>
    </footer>
</div>
