<div class="row main-content">
        <div class="col col-md-12">
            <div class="row">
                <div class="col col-md-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="row">
                            <div class="col col-md-12">
                                <h5 class="subtitle">
                                   Usuários
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-9">
                                <form>
                                    <div id="the-basics" class="input-group mb-3">
                                        <input id="inputUsuario" class="typeaheadUsuario inputs-ac" type="text" ng-model="input.usuario" class="form-control" />
                                        <i class="fas fa-search"></i>
                                    </div>
                                </form>
                            </div>
                            <div class="col col-md-3">
                                <form id="add-usuario">
                                    <div class="input-group mb-3">
                                        <a class="btn btn-primary btn-block" href="#/suporte/adicionar" role="button">Adicionar Usuário</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <table class="table table-sm table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Status</th>
                                            <th scope="col">Nome do Usuário</th>
                                            <th scope="col">Área</th>
                                            <th scope="col">Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="usuarios in dadosUsuarios">
                                            <td class="col-situacao" ng-class="{green:usuarios.status === 'ATIVO', red:usuarios.status === 'DESATIVADO'}"><strong>{{usuarios.status}}</strong></td>
                                            <td class="col-nome">{{usuarios.nome}}</td>
                                            <td>{{usuarios.area}}</td>
                                            <td class="col-acao">
                                                <a class="btn-off" ng-show="usuarios.status === 'ATIVO'" href=""><i class="fas fa-window-close"></i></a>
                                                <a class="btn-edit" ng-show="usuarios.status === 'ATIVO'" href=""><i class="fas fa-pen-square"></i></a>
                                                <a class="btn-unlock" ng-show="usuarios.status === 'ATIVO'" href=""><i class="fas fa-unlock"></i></a>
                                                <a class="btn-on" ng-show="usuarios.status === 'DESATIVADO'" href=""><i class="fas fa-check-square"></i></a>
                                                <span class="span-detail"><a class="btn-details" href=""><b>Detalhes</b><i class="fas fa-arrow-circle-right"></i></a></span>
                                            </td>
                                            <input type="hidden" id="idUsuario{{usuarios.idUsuario}}" value="{{usuarios.idUsuario}}">
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>