<div class="col col-md-12 box-login-container">
    <div class="box-login rounded">
        <div class="row">
            <div class="col col-lg-12">
                <img class="logo" src="./assets/imgs/logo.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                <h6>Acesso do Estabelecimento</h6>
                <form ng-submit="onSubmit()">
                    <div class="input-group mb-3">
                        <input id="inputUser" type="text" ng-model="input.user" class="form-control" placeholder="Email, CNPJ ou Estabelecimento" required />
                    </div>
                    <div class="input-group mb-3">
                        <input id="inputPass" type="password" ng-model="input.pass" class="form-control" placeholder="Senha" required />
                        <button id="showPass" type="button"><i class="fas fa-eye"></i></button>
                    </div>
                    <div id="feedback" class="alert alert-danger" role="alert" ng-show="inputStatus === 'NOK'">Usuário ou senha incorretos</div>
                    <div id="feedback" class="alert alert-danger" role="alert" ng-show="inputStatus === 'empty'">Preencha os campos corretamente</div>
                    <input class="btn btn-primary btn-block" type="submit" value="Acessar">
                    <div class="g-recaptcha" data-sitekey="6LdrvUMUAAAAALSkGqb2d4tSQ0Y-4H3MfEoEH25v" data-callback="afterCaptcha" data-size="invisible"></div>
                </form>
                <a href="#/recuperar">Esqueci minha senha</a><br />
            </div>
        </div>              
    </div>
</div>