<div class="container-fluid" ng-controller="mainCtrl">
    <div class="row no-gutters">
        <div id="menu-container" class="col col-md-4 col-lg-3">
            <div ng-include="'./views/menu.html'"></div>
        </div>
        <div id="main-container" class="col col-md-8 col-lg-9">
            <nav class="navbar navbar-light bg-light">
                <h1>
                    Dados cadastrais
                </h1>
                <div class="pull-right user-info">
                    <div class="user-col">
                        <img src="./assets/imgs/user.png" />
                    </div>
                    <div class="user-col">
                        <a id="username" href="#">Jonas Nascimento</a><br />
                        <a id="userrole" href="#">Administrador</a>
                    </div>
                </div>
            </nav>
            <div class="row main-content">
                <div class="col col-md-12">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Estabelecimento</span>
                            </div>
                            <input id="inputUser" type="text" ng-model="input.user" class="form-control" placeholder="Email, CNPJ ou Estabelecimento" required />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>