<nav class="navbar navbar-light bg-navbar">
    <a class="navbar-brand" href="#">
        <img class="logo" src="./assets/imgs/logo.jpg" />
    </a>
</nav>
<div class="menu-content">
    <h5>Dados Cadastrais</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#!/"><i class="fas fa-home fa-fw"></i>Estabelecimentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-map-marker fa-fw"></i>Endereços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-dollar-sign fa-fw"></i>Produtos e Taxas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-tablet fa-fw"></i>Equipamentos</a>
        </li>
    </ul>
    <h5>Usuários</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-users fa-fw"></i>Lista de Usuários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user-plus fa-fw"></i>Adicionar Usuário</a>
        </li>
    </ul>
    <h5>Suporte</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-question-circle fa-fw"></i>Ajuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-comment-alt fa-fw"></i>Atendimento</a>
        </li>
    </ul>
</div>