<nav class="navbar navbar-light bg-navbar">
    <a class="navbar-brand" href="#">
        <img class="logo" src="./assets/imgs/logo.jpg" />
    </a>
</nav>
<div class="menu-content">
    <h5>Dados Cadastrais</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#!/"><i class="fas fa-eye fa-fw"></i>Estabelecimentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-eye fa-fw"></i>Endereços</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-eye fa-fw"></i>Produtos e Taxas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-eye fa-fw"></i>Equipamentos</a>
        </li>
    </ul>
    <h5>Usuários</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Lista de Usuários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Adicionar Usuário</a>
        </li>
    </ul>
    <h5>Suporte</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Ajuda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Atendimento</a>
        </li>
    </ul>
</div>