<div class="modal fade" id="modal-domicilio" tabindex="-1" role="dialog" ng-controller="modalCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Domicílio Bancário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <p>Bandeira {{modalDomicilio.bandeira}}</p>
                        <img class="modal-bandeira" src="./assets/imgs/{{modalDomicilio.bandeira}}.png" />
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-sm borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img class="modal-banco" src="./assets/imgs/{{modalDomicilio.domicilio.idBanco}}.png" />
                                            </td>
                                            <td>
                                                <p class="bolder"><strong>Código</strong><br />
                                                    {{modalDomicilio.domicilio.idBanco}}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="bolder"><strong>Conta</strong><br />
                                                    {{modalDomicilio.domicilio.conta}}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p class="bolder"><strong>Banco</strong><br />
                                                    {{modalDomicilio.domicilio.nomeBanco}}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="bolder"><strong>Agência</strong><br />
                                                    {{modalDomicilio.domicilio.ag}}
                                                </p>
                                            </td>
                                            <td>
                                                <p class="bolder"><strong>Tipo de Conta</strong><br />
                                                    {{modalDomicilio.domicilio.tipo}}
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-secondary btn-block" ng-show="modalDomicilio.domicilio.liberado === false" disabled>DOMICÍLIO BANCÁRIO TRAVADO <i class="fas fa-lock"></i></button>
                                <button type="button" class="btn btn-success btn-block" ng-show="modalDomicilio.domicilio.liberado === true" disabled>DOMICÍLIO BANCÁRIO LIBERADO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>