<div class="col col-md-12 box-login-container">
    <div class="box-login rounded">
        <div class="row">
            <div class="col col-lg-12">
                <img class="logo" src="./assets/imgs/logo.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12" ng-show="inputStatus !== 'OK'">
                <h6>Alteração de Senha</h6>
                <p style="max-width:500px">Informe a sua nova senha. Deve ter o minimo de 6 caracteres, sendo ao menos uma letra maiúscula ou minúscula e um número. Guarde sua sua senha em local seguro e troque a periodicamente.</p>
                <form id="html_element" ng-submit="checkInputs()">
                    <div class="input-group mb-3">
                        <input id="inputPass" type="password" ng-model="input.pass" class="form-control" placeholder="Nova Senha" required />
                    </div>
                    <div class="input-group mb-3">
                        <input id="inputConfirmation" type="password" ng-model="input.confirmation" class="form-control" placeholder="Confirmar Nova Senha" required />
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="inputStatus === 'different'">As senhas não conferem, favor digitar novamente.</div>
                    <div class="alert alert-danger" role="alert" ng-show="inputStatus === 'NOK'">Houve um erro, favor tentar novamente.</div>
                    <div class="alert alert-danger" role="alert" ng-show="inputStatus === 'regPass'">Senha inválida.</div>
                    <input class="btn btn-primary btn-block" type="submit" value="Alterar">   
                </form>
                <a href="#/login">Voltar</a><br />
            </div>
            <div class="col col-lg-12" ng-show="inputStatus === 'OK'">
                <h6>Informação Importante</h6>
                <p style="max-width:500px">Sua senha foi alterada com sucesso.</p>
                <a class="btn btn-primary btn-block" href="#/login" role="button">OK</a>
            </div>
        </div>         
    </div>
</div>