<div class="row main-content">
    <div class="col col-md-12">
        <div class="row">
            <div class="col col-md-12">
                <div class="tab-content" id="myTabContent">
                    <div class="row">
                        <div class="col col-md-12">
                            <h5 class="subtitle">
                                Lista de Solicitação
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-9">
                            <form>
                                <label class="font-weight-bold" for="inputChamado">Pesquisar Chamados</label>
                                <div id="the-basics" class="input-group mb-3">
                                    <input id="inputChamado" class="typeahead inputs-ac" type="text" ng-model="input.chamado" class="form-control" />
                                    <i class="fas fa-search"></i>
                                </div>
                            </form>
                        </div>
                        <div class="col col-md-3">
                            <form id="add-chamado">
                                <div class="input-group mb-3">
                                    <a class="btn btn-primary btn-block" href="#/suporte/adicionar" role="button">Adicionar Chamado</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <table class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Situação</th>
                                        <th scope="col">Número</th>
                                        <th scope="col">Responsável</th>
                                        <th scope="col">Assunto</th>
                                        <th scope="col">Data de Abertura</th>
                                        <th scope="col">Data de Atualização</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="solicitacao in dadosSolicitacoes.solicitacoes[0].infos.solicitacoes">
                                        <td class="col-situacao" ng-class="{green:solicitacao.situacao === 'Resolvida',yellow:solicitacao.situacao === 'Em análise', red:solicitacao.situacao === 'Suspenso'}">{{solicitacao.situacao}}</td>
                                        <td class="col-numero">{{solicitacao.numero}} </td>
                                        <td>{{solicitacao.responsavel}}</td>
                                        <td>{{solicitacao.assunto}}</td>
                                        <td>{{solicitacao.dataAbertura}}</td>
                                        <td>{{solicitacao.dataAtualizacao}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>