.container-fluid{
    padding-right:0;
    padding-left:0;
}

#menu-container{
    background-color:#0064ad;
}

#menu-container .bg-navbar{
    background-color: #fff;
}

.menu-content{
    padding:10%;
    color: #fff !important;
}

.menu-content h5{
    margin-top:10px;
}
.menu-content li{
    position:relative;
}

.menu-content a{
    color: #fff !important;
}

.menu-content a:hover{
    text-decoration: underline;
}

.menu-content i{
    margin-right:10px;
}

.menu-content i.focus{
    margin-right:0;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    display:none;
    color:gold;
}

.menu-content i.focused{
    display:block;
}

.navbar-brand{
    text-align:center;
}

.navbar{
    height:83px;
    padding: 0 40px;
    text-align: center;
    color:#8e8e8e;
}

.navbar{
    background-color: #ececec;
}

.navbar h1{
    font-weight: lighter;
}

.navbar .navbar-brand{
    height: 70%;
    line-height: 0;
    text-align: center;
    margin: 0 auto;
}

.navbar .navbar-brand .logo{
    height: 100%;
}

.main-content{
    margin:15px 0;
    color: #8e8e8e;
}

.nav-tabs a{
    color:#8e8e8e;
}

.main-content .tab-content{
    margin-left:15px;
    margin-right:15px;
    padding:20px 0;
}

#main-container .navbar .user-info a, #main-container .navbar .user-info button{
    cursor: pointer;
}

#main-container .navbar .user-col{
    float:right;
    text-align: right;
    margin:0 10px 0 0;
}

#main-container .navbar .user-col #username{
    color: #8e8e8e;
    margin: 5px 0px -5px 0;
    font-weight:bold;
    padding: 0;
}

#main-container .navbar .user-col #userrole{
    color:#8e8e8e;
}

.main-content .subtitle{
    border-bottom: 1px solid #ccc;
    padding-bottom:4px;
    margin: 30px 0 10px 0;
    font-weight: bold;
    color: #4a4a4a;
}

.main-content p{
    line-height:1;
}

.main-content p.bolder{
    line-height: 1;
    margin-top: 25px;
}

table.borderless td, table.borderless th{
    border:none;
}

.main-content .share-rotated{
    transform: rotate(270deg);
}

.main-content .logo-bandeira{
    text-align: center;
}

.main-content .logo-bandeira img{
    height: 20px;
}

.main-content .bg-white{ background-color:#fff; }
.main-content .bg-blue{ background-color: rgba(0,100,173,.1); }
.main-content .bg-green{ background-color: rgba(20,204,0,.2); }
.main-content .bg-orange{ background-color: rgba(240,202,51,.3); }

.main-content .fa-color-green{color:#14CC00}
.main-content .fa-color-red{color:#FF0000}

.main-content .box-equipamentos{
    background-color:#F5F7FA;
    padding:50px;
    margin:30px 0 0 0;
}

.main-content .box-equipamentos .aluguel-de{
    text-decoration: line-through;
    opacity:.5;
}

.main-content .box-equipamentos .aluguel-por{
    color:green;
    font-weight:bold;
}

.main-content .box-equipamentos .img-equipamento{
    width:100%;
}

.main-content .box-equipamentos .pag-equipamento{
    margin: 31px 0 0 0;
}

a{
    cursor: pointer;
}

#modal-domicilio td{
    width: 33%;
}

#modal-domicilio .modal-bandeira{
    width:80%;
}

#modal-domicilio .modal-banco{
    width: 50%;
}

.tt-menu{
    width:100%;
}

#inputEstabelecimento{
    width:100%;
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    cursor:pointer;
    padding: 10px 20px;
    color:#8e8e8e;
}

#the-basics i{
    position: absolute;
    right: 15px;
    bottom: 14px;
    z-index: 333;
}

.openedMenu{
    left:0% !important;
    background-color:red;
}

.hide-menu{
    left:0%;
}

#main-container .navbar #btnMenuBars{
    display:none;
}

@media (max-width: 767.98px) {
    #menu-container{
        position:absolute;
        z-index:9999;
        width:66%;
    }
    .hide-menu{
        left:-66%;
    }
    
    .navbar{
        max-height:50px;
    }
    #main-container .navbar #btnMenuBars{
        display:block;
    }

    #main-container .navbar .user-info img{
        width: 35px;
        margin: 13px 0px;
    }
}

@media (max-width: 991px) {
    .h1, h1 {
        font-size: 1.6rem;
    }

    #main-container .navbar .user-col #username,#main-container .navbar .user-col #userrole{
        display:none;
    }

    
}